a:visited {
    color: purple;
}

.page {
    height: calc(100vh - 82px);  /* Full viewport minus navbar */
    margin-top: 82px;  /* navbar */
}

.dashboard-container {
    display: flex;
    flex-direction: row;
}

.sidebar-expanded {
    background-color: rgb(115, 199, 212);
    display: inline-block;
    width: 20%;
    min-width: 200px;
    height: 100%;
    transition: width 0.2s ease;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar-collapsed {
    background-color: rgb(115, 199, 212);
    display: inline-block;
    width: 2.5%;
    min-width: 50px;
    height: 100%;
    transition: width 0.2s ease;
}

.sidebar-content {
    background-color: inherit;
    overflow-y: auto;
}

/* Customizing the scrollbar */
.sidebar-content::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the thumb */
  border-radius: 10px; /* Round the corners of the scrollbar */
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Darker thumb on hover */
}

.sidebar-content::-webkit-scrollbar-track {
  background: #f5f5f5; /* Match the parent background */
  border-radius: 10px; /* Round the corners of the track */
}

.page-collapsed {
    flex: 1;
    display: inline-block;
    width: 80%;
    height: 100%;
    transition: width 0.2s ease;
    padding: 10px;
    overflow-y: auto;
}

.page-expanded {
    flex: 1;
    display: inline-block;
    width: 97.5%;
    height: 100%;
    transition: width 0.2s ease;
    padding: 10px;
    overflow-y: auto;
}

.small-dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.blended-button {
    background-color: inherit;
    border: none;
}
.blended-button:focus {  /* Remove ugly blue line when clicked */
    outline: 0;
}
.blended-button:focus-visible {  /* But keep accessibility to find button using tab button */
    outline: 3px solid blue;
}
.blended-button:hover {
    opacity: 0.6;  /* TODO: instead, look at doing box-shadows. They look great. */
}

.blended-button.full-width-menu {
    width: 100%;
    text-align: left;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
}

.filter-group {
    background-color: rgba(256, 256, 256, 0.3); /* TODO: instead, look at doing box-shadows. They look great. */
    isolation: isolate;
    margin-bottom: 10px;
}

.filter-group .filter-item {
    padding: 10px;
    color: white;
}

.profile {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-name {
    border: solid 2px black;
    font-size: 20px;
    font-weight: bold;
}

.profile-affiliation {
    border: solid 2px black;
    font-size: 20px;
}

.profile-role {
    border: solid 2px red;
    font-size: 20px;
}

.profile-headshot-and-links {
}

.profile-headshot {
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 10%;
    height: 200px;
}

.profile-links {
    display: flex;
    justify-content: space-around;
}

.profile-description {
    border: solid 2px blue;
}
