a:visited {
    color: purple;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 82px);  /* Full viewport minus navbar */
    margin-top: 82px;  /* navbar */
}

.sidebar-expanded {
    background-color: rgb(115, 199, 212);
    display: inline-block;
    width: 20%;
    min-width: 200px;
    height: 100%;
    transition: width 0.2s ease;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar-collapsed {
    background-color: rgb(115, 199, 212);
    display: inline-block;
    width: 2.5%;
    min-width: 50px;
    height: 100%;
    transition: width 0.2s ease;
}

.sidebar-content {
    background-color: inherit;
    overflow-y: scroll;
}

.page-collapsed {
    flex: 1;
    display: inline-block;
    width: 80%;
    height: 100%;
    transition: width 0.2s ease;
    padding: 10px;
    overflow-y: auto;
}

.page-expanded {
    flex: 1;
    display: inline-block;
    width: 97.5%;
    height: 100%;
    transition: width 0.2s ease;
    padding: 10px;
    overflow-y: auto;
}

.small-dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.blended-button {
    background-color: inherit;
    border: none;
}
.blended-button:focus {  /* Remove ugly blue line when clicked */
    outline: 0;
}
.blended-button:focus-visible {  /* But keep accessibility to find button using tab button */
    outline: 3px solid blue;
}
.blended-button:hover {
    opacity: 0.6;  /* TODO: instead, look at doing box-shadows. They look great. */
}

.blended-button.full-width-menu {
    width: 100%;
    text-align: left;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
}

.filter-group {
    background-color: rgba(256, 256, 256, 0.3); /* TODO: instead, look at doing box-shadows. They look great. */
    isolation: isolate;
    margin-bottom: 10px;
}

.filter-group .filter-item {
    padding: 10px;
    color: white;
}