a:visited {
    color: purple;
}

.small-dropdown {
    /* width: 300px; */
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

.sidebar-expanded {
    background-color: rgba(23, 162, 184, 0.2); /* 12, 162, 184 is RGB for #17a2b8, primary color */
    display: inline-block;
    width: 20%;
    height: 100%;
    transition: width 0.2s ease;
    padding-top: 10px;
}

.sidebar-collapsed {
    background-color: rgba(23, 162, 184, 0.2);
    display: inline-block;
    width: 2.5%;
    height: 100%;
    transition: width 0.2s ease;
    padding-top: 10px
}

.page-collapsed {
    display: inline-block;
    width: 80%;
    height: 100%;
    transition: width 0.2s ease;
    padding: 10px;
}

.page-expanded {
    display: inline-block;
    width: 97.5%;
    height: 100%;
    transition: width 0.2s ease;
    padding: 10px
}

.filter-button {
    background-color: inherit;
    border: none;
}
.filter-button:focus {  /* Remove ugly blue line when clicked */
    outline: 0;
}
.filter-button:focus-visible {  /* But keep accessibility to find button using tab button */
    outline: 3px solid blue;
}
